.view-QuizView div.formula {
    width: 100%;
    background: #fff;
    padding: 1rem;
    text-align: center;
    border-radius: .25rem;
}

.view-QuizView div.formula > img {
    height: 200px;
    max-width: 90vw;
}

.view-QuizView div.attribute {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -1rem;
} 

.view-QuizView div.attribute .hide {
    transition: all .5s;
    opacity: 0;
}

.view-QuizView div.attribute .show {
    transition: all .5s;
    opacity: 1;
}

.view-QuizView div.attribute .tfw-view-Combo.custom {
    max-width: 80vw;
}